/* 9. media query 
  10. The height of the welcome section should be equal to the height of the viewport. */
body {
    font-family: Arial;
    font-size: 1.5em;
    color: white;
    line-height: 1;
    background-color: #1c1c1c;
}

@media screen and (max-width: 1366px) {
    #welcome-section #intro h1 {
        font-family: times-new-roman;
        font-size: 2.5em;
        color: white;
    }

    #about-section {
        margin: 20px;
    }

    #about{
        width: fit-content;
        height: fit-content;   
    }

    #about h2{
        font-size: 1.5em;
    }

}

#navbar {
    position: fixed;
    top: 0;
    padding: 15px;
    width: 100vw;
    text-align: center;
    background-color: #fa8072;
}

#navbar a {
    padding: 15px 20px 15px 20px;
    font-size: 19;
    font-family: times-new-roman;
    color: black;
    transition: .8s;
    }

#navbar a:hover {
    background-color: rgb(98, 101, 255);
    transition: .8s;
    /* z-index: 999; */
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

#welcome-section h1 {
    font-family: times-new-roman;
    font-size: 3em;
    color: white;
}

#welcome-section h2 {
    font-family: calibri;
    font-size: 1em;
}

#intro {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
    border: 2px solid cyan;
    border-radius: 5px;
}

#about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 1.25;
    scroll-margin-block-start:35px ;
}

#about h2 {
    font-family: times-new-roman;
    font-size: 3em;
    text-align: center;
}

#about p {
    padding: 20px;
}

#about {
    width: 75%;
    height: fit-content;
    border: 2px solid cyan;
    border-radius: 5px;
}
    /* SKILLS AND TESTIMONIALS */

    #skillsTestContainer{
        display: flex;
        flex-wrap: wrap;
        width: 97%;
        text-align: center;
        margin: auto;
        margin-bottom: 1em;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid cyan;
    }

    .skillsTest{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 45%;
        height: fit-content;
        margin: 10px auto;
        padding: 2%;
        border: 2px solid #fa8072;
        border-radius: 10px;
    }

    .skillsTest h3 {
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 0 20px 20px;
    }
        
    .skills, .tests {
        border-radius: 20%;
        display: inherit;
        flex-wrap: inherit;
        text-align: center;
        width: 47%;
        height: 300px;
        margin: 10px auto;
        padding: 2px;
        border: 2px solid cyan;
        justify-content: center;
        align-content: center;
        z-index: -999;
    }

    progress{
        accent-color: cyan;
    }

    .tests {
        position: relative;
    }

    #name {
        text-decoration: underline;
        font-style: italic;
        font-size: 20px;
    }

    .tests p {
        position: relative;
        font-size: 16px;
    }

    /* PROJECTS */  

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid cyan;
}

#projects h1 {
    width: 100%;
    text-align: center;
}

.project-tile {
    text-align: center;
    width: 45%;
    height: 500px;
    margin: 10px auto;
    padding: 2%;
    border: 2px solid #fa8072;
}

.project-tile img {
    width: 50%;
    max-height: 400px;
    transition: .90s;
}

.project-tile a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.project-tile a:hover {
    color: cyan;
}

.project-tile img:hover {
    width: 70%;
    max-height: 460px;
    /* transition: .90s; */
}
/**/

/* CONTACT SECTION  */

#contact {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
    line-height: normal;
    scroll-behavior: smooth;
    scroll-margin-block-start: 75px;
    scroll-margin-block-end: 100px;
}

#cont {
    border: 2px solid #fa8072;
    width: 90%;
    height: 70%;
    line-height: 1;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

#contact h1 {
    font-family: times-new-roman;
    font-size: 3em;
}

#contact h2 {
    font-family: calibri;
    font-size: 1em;
}

/* CONTACT FORM  */

form {
    padding: 20px;
    border: 2px solid #00adee;
    width: fit-content;
    margin: auto;
}


form input,
form textarea {
    margin: 15px;
    padding: 5px;
}

input[type="text"],
input[type="email"] {
    width: 200px;
}

label {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

#message {
    vertical-align: middle;
}

#btn {
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: #1c1c1c;
    color: cyan  ;
    transition: .9s;
}

#btn:hover {
    width: 210px;
    height: 50px;
    /* background-color: cyan; */
    /* color: #1c1c1c; */
    transition: .9s;
    box-shadow: 5px 5px 20px cyan ;
}


/* CONTACT LINKS */

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1em;
    border: 2px solid cyan;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.fa {
    color: white;
    padding: 10px;
    transition: .5s;
}

.fa-codepen:hover {
    color: cyan;
}

.fa-free-code-camp:hover {
    color: green;
}

.fa-github-square:hover {
    color: violet;
}

.fa-reddit-square:hover {
    color: #ff4500;
}

.fa-steam-square:hover {
    color: #00adee;
}

.fa-linkedin:hover {
    color: #0077b5;
}

#profile-link {
    color: white;
}

#profile-link:hover {
    color: cyan;
}

a:hover {
    color: cyan;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 3px solid #fa8072;
}